.card {
  background-color: hsl(0, 0%, 100%);
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.1);
  border-radius: 0.625rem;
  max-width: 90vw;
  max-width: clamp(15rem, 40vw, 20rem);
  padding: clamp(0.5rem, 2vw, 1.5rem); ;
  margin-bottom: 1rem;
}
img {
  width: 100%; /* image fills card width */
  height: auto; /* maintain aspect ratio */
  max-width: 100%; /* prevent overflow */
  border-radius: 0.625rem;
}
body {
  background-color: hsl(218, 23%, 78%);
  font-size: 15rem;
  font-family: "Outfit", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
h1 {
  font-size: 1.375rem;
  font-family: "Outfit", sans-serif;
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  text-align: center;
  width: 100%;
}
p {
  font-size: 0.94rem;
  font-family: "Outfit", sans-serif;
  font-weight: 400;
  color: hsl(229, 8%, 60%);
  text-align: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
